.noticia {
    background-color: #f0f0f0; /* Color de fondo común para todas las noticias */
    padding: 20px; /* Ajusta según sea necesario */
    margin-bottom: 20px; /* Ajusta según sea necesario */
}