{% load static%}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/planonoticia.css' %}">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Chile Deportes</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-white fixed-top"
        style="background-color: #d60606; border-bottom: 2.5px solid black;">
        <a class="navbar-brand" href="{% url 'inicio' %}">
            <img src="{% static 'core/img/logo3.png' %}" alt="Logo de Mi Página" height="50">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon-personalizado">&#9776;</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="{% url 'deportes' %}">Deportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="{% url 'undiacomohoy' %}">Un día como hoy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="{% url 'calendario' %}">Calendario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="{% url 'contactanos' %}">Contáctanos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="{% url 'nueva_noticia' %}">Ultimas noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="{% url 'Inicio_sesion' %}">Inicia sesion</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="jumbotron text-center text-white position-relative"
        style="border-bottom: 2.5px solid black; height: 200px;">
        <div class="caja-fecha position-absolute inicio-1 arriba-1 p-1 text-white">
            <span id="currentDate"></span>
        </div>
        <h1 style="font-size: 70px;
        text-shadow: 5px 2px 3px black, 0 0 25px #000b7e, 0 0 5px #000b7e;">TENIS</h1>
    </div>
    <div class="text-center">
        <u>
            <h2>
                <strong>
                    ULTIMAS NOTICIAS SOBRE EL TENIS NACIONAL
                </strong>
            </h2>
        </u>
    </div>



    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12" style="border: 2px solid red;">
                <div class="media mb-4" style="margin-top: 20px;">
                    <img src="{% static 'core/img/imgtenis1.jpg' %}" class="mr-3 img-fluid" alt="..."
                        style="max-width: 300px; height: 220px;">
                    <div class="media-body">
                        <h5><strong>Paula Badosa se retira entre lágrimas ante Sabalenka en Stuttgart
                                y está al borde del abismo en el ranking WTA</strong></h5>
                        <p>La catalana, vendada en el muslo izquierdo, saca bandera blanca con 3-3 en la tercera manga y
                            suma 33 abandonos a lo largo de su carrera. El destino ha querido que todo sucediera en
                            Stuttgart.
                            Su derrota este miércoles en la segunda ronda del certamen alemán, por abandono con 3-3 en
                            el tercer set,
                            ante su amiga bielorrusa Aryna Sabalenka, su verdugo también esta temporada en el Miami
                            Open, le hace perder
                            48 puntos de la pasada edición.</p>
                    </div>
                </div>
                <p class="mt-1"><strong>Autor:</strong> <span style="font-weight: bold;">Balón Von Bola</span> |
                    <strong>Fecha:</strong> <span style="font-weight: bold;">Abril 18, 2024</span> |
                    <strong>Ubicación:</strong> <span style="font-weight: bold;">Santiago, Chile</span> |
                    <strong>Categoría:</strong> <span style="font-weight: bold;">Tenis</span>
                </p>
            </div>
            <div class="col-md-12 mt-1" style="border: 2px solid red;">
                <div class="media mb-4" style="margin-top: 20px;">
                    <img src="{% static 'core/img/chino.jpg' %}" class="mr-3 img-fluid" alt="..."
                        style="max-width: 300px; height: 220px;">

                    <div class="media-body">
                        <h5><strong>Marcelo Ríos: a 25 años del número uno</strong></h5>
                        <p>El domingo 29 de marzo de 1998 por la tarde, Marcelo Ríos venía de ser campeón en Indian
                            Wells, en la costa oeste de los Estados Unidos y ahora estaba mano a mano en la final de Key
                            Biscaine con Andre Agassi. Pete Sampras llevaba cinco años seguidos como el número uno del
                            mundo y sólo un triunfo del chileno lograría lo que parecía imposible: destronar al supremo.
                            En enero de ese año había sido finalista, por primera vez en su carrera, de un Grand Slam.
                            Perdió la final del Abierto de Australia con Peter Korda, quien años más tarde sería
                            castigado por uso de dopaje. Hacía sólo meses Larry Stefanski había asumido las labores de
                            técnico de Ríos y los efectos estaban a la vista. </p>
                        <div id="ver-mas" class="collapse">
                            <p>Marcelo Ríos en poco tiempo estaba entre los diez mejores jugadores del mundo. Su riqueza
                                técnica de la mano con un trabajo físico importante marcaba el camino de la gloria.</p>
                            <h5><b>Una tarde de calor y humedad para el número uno de Ríos</b></h5>
                            <p>Esa tarde en Key Biscaine el calor y la humedad eran enemigos, principalmente del
                                chileno, peor lo era aún más Andre Agassi, quien venía en franca recuperación y aparecía
                                como uno de los escollos más duros para Rios en su camino al número uno. Pese a todo y
                                todos, el partido avanzó en favor de Ríos. Ese día el “chino” desplegó su mejor tenis,
                                con golpes certeros, juego de fondo potente y toques de la magia habitual de uno de los
                                más talentosos jugadores que formaron parte del circuito ATP en toda su historia
                                marcaron el trámite del partido.
                                7-5 y 6-3 en favor de Marcelo lo encaminaban, pero había que ganar por tres set y la
                                recuperación del Kid de Las Vegas podía pasar, era esperable, pero Ríos no dio espacio
                                para problema. Fue ese último saque que nos tuvo en vilo cuando la devolución de Agassi
                                se fue larga y la tercera manga quedaba en favor del chileno 6-4. No había dudas, se
                                acababan las amarguras y por fin teníamos a un número uno del mundo, pero número uno de
                                verdad, motivo suficiente para que el país saliera a la calles a celebrar al nuevo
                                monarca del tenis, ese día 29
                                de marzo de 1998, un domingo cualquiera Marcelo Ríos se convirtió en el primer
                                sudamericano en ser el mejor tenista del mundo y nosotros… inflábamos el pecho porque ya
                                nada sería como antes y las nuevas generaciones lo saben bien.</p>
                        </div>
                        <!--<a href="#ver-mas" class="btn text-white"
                            style="background-color: #000b7e; position: absolute; bottom: 10px; right: 10px; border-color: #000425;"" data-toggle="
                            collapse" role="button" aria-expanded="false" aria-controls="ver-mas">Ver más</a> -->
                    </div>
                </div>
                <p class="mt-1"><strong>Autor:</strong> <span style="font-weight: bold;">Balón Von Bola</span> |
                    <strong>Fecha:</strong> <span style="font-weight: bold;">Abril 18, 2024</span> |
                    <strong>Ubicación:</strong> <span style="font-weight: bold;">Santiago, Chile</span> |
                    <strong>Categoría:</strong> <span style="font-weight: bold;">Tenis</span>
                </p>
            </div>
            <div class="col-md-12 mt-1 mb-2" style="border: 2px solid red;">
                <div class="media mb-4" style="margin-top: 20px;">
                    <img src="{% static 'core/img/imagen5.jpg' %}" class="mr-3 img-fluid" alt="..."
                        style="max-width: 300px; height: 220px;">
                    <div class="media-body">
                        <h5><strong>Nicolás Jarry pierde contra el 197° del mundo en el ATP 500 de Barcelona </strong>
                        </h5>
                        <p>El n° 1 del tenis nacional perdió 7-6 y 6-3 contra el argentino Marco Trungelliti. Su repunte
                            podría venir en el Mutua Madrid Open que comenzará la próxima semana. <br>
                            El tenista chileno Nicolás Jarry (22°) perdió duramente este miércoles por 7-6 y 6-3 contra
                            el argentino Marco Trungelliti (197°) en la primera ronda del ATP 500 de Barcelona.

                            A pesar de que Jarry peleó durante dos horas de juego, perdió el primer set en el tie break
                            y en el segundo set no logró repuntar contra el argentino de 34 años
                        </p>
                    </div>
                </div>
                <p class="mt-1"><strong>Autor:</strong> <span style="font-weight: bold;">Balón Von Bola</span> |
                    <strong>Fecha:</strong> <span style="font-weight: bold;">Abril 18, 2024</span> |
                    <strong>Ubicación:</strong> <span style="font-weight: bold;">Santiago, Chile</span> |
                    <strong>Categoría:</strong> <span style="font-weight: bold;">Tenis</span>
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario de inicio de sesión -->
                    <form>
                        <div class="form-group">
                            <label for="inputEmail">Correo Electrónico</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Correo Electrónico">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Contraseña</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
                        </div>
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto py-3 text-white" style="background: #000b7e;">
        <div class="container">
            <div class="row mb-4">
                <div class="col text-center">
                    <p class="text-white text-center">(c) 2024 CHILE DEPORTES</p>
                    <i class="fa fa-instagram mr-3" style="font-size:36px;color:rgb(255, 255, 255)"></i>
                    <i class="fa fa-facebook-official mr-3" style="font-size:36px;color:rgb(255, 255, 255)"></i>
                    <i class="fa fa-twitter mr-3" style="font-size:36px;color:rgb(255, 255, 255)"></i>
                    <i class='fa fa-youtube mr-3' style='font-size:36px;color:rgb(255, 255, 255)'></i>
                    <i class="fa fa-linkedin-square mr-3" style="font-size:36px;color:rgb(255, 255, 255)"></i>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-center">
                        <a href="{% url 'contactanos' %}" class="text-white">Contáctanos</a> |
                        <a href="{% url 'trabajaconnos' %}" class="text-white">Trabaja con nosotros</a> |
                        <a href="{% url 'politics' %}" class="text-white">Política de privacidad</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scripts de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script>
        // Obtiene la fecha actual
        var today = new Date();

        // Obtiene el elemento donde deseas mostrar la fecha
        var currentDateElement = document.getElementById('currentDate');

        // Formatea la fecha como "dd/mm/yyyy"
        var formattedDate = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();

        // Asigna la fecha formateada al elemento HTML
        currentDateElement.textContent = formattedDate;

        //<!--Script para inicio de sesion-->
        $(document).ready(function () {
            // Muestra el modal de inicio de sesión cuando se hace clic en el botón de inicio de sesión
            $('#loginBtn').click(function () {
                $('#loginModal').modal('show');
            });
        });
    </script>

</body>

</html>